# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSBuild

on:
  push:
  pull_request:
  workflow_dispatch:
  workflow_call:

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:        
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run Linux commands
      run: |
        echo "Building on Linux"
        ls -la
        make 

    - name: Show Github infos
      run:  echo 'Workspace path ${{ github.workspace }} - runner.temp ${{ runner.temp }}'     

    - name: dir
      run:  dir ${{ github.workspace }}
      
    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false    
        tag_name: ${{ github.run_number }}
        body: ${{ github.event.head_commit.message }}
        files: ${{ github.workspace }}\Tamagotchi-Pet-Game-console
      env:
        GITHUB_TOKEN: ${{ github.token }} 
        
        
        